[submodule "jackal-game-lobby-service"]
	path = jackal-game-lobby-service
	url = https://github.com/AleksejRonzhin/jackal-game-lobby-service
[submodule "jackal-game-enterprise-service"]
	path = jackal-game-enterprise-service
	url = https://github.com/AleksejRonzhin/jackal-game-enterprise-service
[submodule "jackal-game-session-service"]
	path = jackal-game-session-service
	url = https://github.com/paavill/jackal-game-session-service
[submodule "jackal-game-client"]
	path = jackal-game-client
	url = https://github.com/if0ne/jackal-game-client
